@import "../../media.scss";
@import "../../fontslib.scss";

.activities {
  position: absolute;
  width: 100vw;
  height: 87vh;
  padding: 13vh 0px 0px 0px;
  left: 0px;
  top: 0px;
  overflow-x: hidden;

  .activities_greeting {
    margin-left: 15px;
    margin-right: 15px;

    @include sm {
      width: 768px;
      margin: auto;
    }

    h3 {
      @include mobile_header($Header_Green);
      margin: 5px;
      margin-top: 30px;
    }

    p {
      @include mobile_p_primary_strong($pGeneralColor);
      margin: 5px;
      font-weight: 500;
    }
  }

  .activities_tlies_container {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include sm {
      width: 750px;
      margin: auto;
      grid-template-columns: repeat(2, 1fr);
    }

    [class*="tile_"] {
      position: relative;
      width: 320px;
      height: 142px;
      margin: 10px auto;
      border: 2px solid #bdc3c5;
      border-radius: 13px;
      box-shadow: 5px 5px 10px #bdc3c5;

      @include sm {
        margin: 10px 10px;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 10px;
        box-shadow: -5px -5px 10px white;
      }

      h4,
      p {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: white;
      }

      h4 {
        @include mobile_subheader($pWhite);
        padding: 15px 0px 5px 15px;
      }

      p {
        @include mobile_p_secondary_strong($pWhite);
        padding: 0px 0px 5px 15px;
      }
    }
  }
}
