@import "../../media.scss";
@import "../../fontslib.scss";

//////////////////////
// Common components
//////////////////////
// Should be external css component
//////////////////////

:root {
  --color: orange;
}

.lists {
  position: absolute;
  width: 100vw;
  height: 87vh;
  padding: 13vh 0px 0px 0px;
  left: 0px;
  top: 0px;
  overflow-x: hidden;

  .lists_container {
    position: relative;
    width: 75%;
    margin: 25px auto 25px auto;
    padding: 25px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #bdc3c586;
    @include mobile_p_primary($pGeneralColor);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 10px;
      box-shadow: -5px -5px 20px white;
      pointer-events: none;
    }

    //////////////////////
    // Page Title
    //////////////////////

    .lists_title {
      position: relative;
      width: 90%;
      margin: auto;
      margin-bottom: 40px;
      border-radius: 10px;
      box-shadow: 5px 5px 20px #bdc3c586;
      padding: 10px;
      text-align: center;

      h3 {
        @include mobile_subheader($Header_Orange);
      }

      p {
        @include mobile_p_primary($Header_Orange);
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        box-shadow: -5px -5px 20px white;
      }
    }

    //////////////////////
    // Select button
    //////////////////////

    select {
      position: relative;
      width: 150px;
      height: 42px;
      border: none;
      outline: none;
      padding: 0px 0px 0px 10px;
      margin: 10px;
      background: #f3f3f4;
      border-radius: 15px;
      box-shadow: 4px 4px 6px #abc2d481;
      appearance: none;
      background-image: url("../../Assets/Login/Icondropdown.png"); /* Add custom arrow */
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: 45%;

      &:last-of-type {
        margin-bottom: 40px;
      }
    }

    //////////////////////
    // Common components End
    //////////////////////

    /////////////////////
    // List Style color populated with variable
    //////////////////////

    ul {
      list-style-type: none;
      padding: 0px;

      li {
        @include mobile_p_primary($pGeneralColor);
        padding-bottom: 2px;
        &:before {
          content: "•";
          padding-right: 8px;
          color: var(--color);
        }

        &:nth-of-type(1) {
          @include mobile_p_primary_strong($pGeneralColor);
          padding-bottom: 10px;

          &:before {
            content: "";
            padding-right: 0px;
          }
        }

        span {
          float: right;
        }
      }
    }
  }
}
