@import "../../media.scss";
@import "../../fontslib.scss";

//////////////////////
// Common components
//////////////////////
// Should be external css component
//////////////////////
:root {
  --color: orange;
}
.meetings {
  position: absolute;
  width: 100vw;
  height: 87vh;
  padding: 13vh 0px 0px 0px;
  left: 0px;
  top: 0px;
  overflow-x: hidden;

  .meetings_container {
    position: relative;
    width: 75%;
    margin: 25px auto 25px auto;
    padding: 25px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #bdc3c586;
    @include mobile_p_primary($pGeneralColor);
    @include lg {
      min-width: 1100px;
      min-height: 700px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 10px;
      box-shadow: -5px -5px 20px white;
    }

    //////////////////////
    // Page Title
    //////////////////////

    .meetings_title {
      position: relative;
      width: 90%;
      margin: auto;
      border-radius: 10px;
      box-shadow: 5px 5px 20px #bdc3c586;
      padding: 10px;
      text-align: center;

      h3 {
        @include mobile_subheader($Header_Blue);
      }

      p {
        @include mobile_p_primary($pTextBlue);
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        box-shadow: -5px -5px 20px white;
      }
    }
    form {
      margin: auto;
      @include lg {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .meetings_details {
        position: relative;
        width: 90%;
        margin: 20px auto 20px auto;
        border-radius: 10px;
        box-shadow: 5px 5px 20px #bdc3c586;
        padding: 10px;

        @include lg {
          width: 500px;
          margin: 25px;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: 10px;
          box-shadow: -5px -5px 20px white;
        }

        p {
          @include mobile_p_primary($pGeneralColor);
          text-align: center;
        }

        span {
          padding: 15px;
        }

        select {
          position: relative;
          width: 150px;
          height: 42px;
          border: none;
          outline: none;
          padding: 0px 0px 0px 10px;
          margin: 10px;
          background: #f3f3f4;
          border-radius: 15px;
          box-shadow: 4px 4px 6px #abc2d481;
          appearance: none;
          background-image: url("../../Assets/Login/Icondropdown.png"); /* Add custom arrow */
          background-repeat: no-repeat;
          background-position-x: 90%;
          background-position-y: 45%;
        }

        label {
          margin: auto;
          padding: 10px;
        }

        .field {
          position: relative;
          width: 270px;
          margin: 24px auto 24px auto;

          .field_icon {
            position: absolute;
            top: 3px;
            left: 16px;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
          }

          input {
            position: relative;
            outline: none;
            border: none;
            height: 40px;
            width: 210px;
            padding-left: 60px;
            border-radius: 20px;
            border: 2px solid #bdc3c53f;
            background: #ffffff3f;
            box-shadow: inset 4px 2px 8px #bdc3c583;

            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: 10px;
              box-shadow: -4px -2px 8px white;
            }
          }
        }
      }

      .participant_list {
        width: 100%;
        margin-top: 48px;

        @include lg {
          position: relative;
          width: 500px;
          margin: 25px;
          border-radius: 10px;
          box-shadow: 5px 5px 20px #bdc3c586;
          padding: 10px;
          min-width: 270px;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 10px;
            box-shadow: -5px -5px 20px white;
          }
        }

        p {
          @include mobile_p_primary_strong($pGeneralColor);
          text-align: left;
          padding-bottom: 10px;

          span {
            float: right;
          }
        }

        ul {
          list-style-type: none;
          padding: 0px;
          width: 100%;

          li {
            position: relative;
            @include mobile_p_primary($pGeneralColor);
            padding-bottom: 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include lg {
              width: 80%;
              padding-bottom: 0px;
              margin: 10px 0px 10px 0px;
            }

            &:before {
              content: "•";
              padding-right: 0px;
              color: var(--color);
            }

            p {
              @include mobile_p_primary($pGeneralColor);
              text-align: left;
              padding: 0;
              margin: 0;
            }

            button {
              position: relative;
              width: 24px;
              height: 24px;
              border: none;
              border-radius: 5px;
              box-shadow: 4px 2px 10px #ff6e7a7e;
              outline: none;
              font-size: 18px;
              color: #ff6e79;
              font-weight: bold;

              &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 5px;
                box-shadow: -5px -5px 10px white;
              }

              @include lg {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                right: -70px;
              }
            }

            button:focus {
              box-shadow: 2px 1px 8px #6ba46a7a;
              font-size: 17px;
            }

            button:focus:after {
              content: "";
              box-shadow: -2px -1px 8px white;
            }
          }
        }
      }

      .field {
        position: relative;
        width: 90%;
        margin: 24px auto 24px auto;

        .field_icon {
          position: absolute;
          top: 6px;
          left: 16px;
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;
        }

        input {
          position: relative;
          outline: none;
          border: none;
          height: 40px;
          padding-left: 60px;
          border-radius: 20px;
          border: 2px solid #bdc3c53f;
          background: #ffffff3f;
          box-shadow: inset 4px 2px 8px #bdc3c583;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px;
            box-shadow: -4px -2px 8px white;
          }
        }
      }

      .search_students {
        margin-bottom: 48px;
        @include lg {
          position: relative;
          width: 500px;
          margin: 25px;
          border-radius: 10px;
          box-shadow: 5px 5px 20px #bdc3c586;
          padding: 10px;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 10px;
            box-shadow: -5px -5px 20px white;
          }

          .field {
            width: 270px;
            input {
              width: 210px;
              margin: auto;
            }
          }
        }
      }

      .send_btn {
        position: relative;
        width: 100%;
        height: 48px;
        border: none;
        border-radius: 10px;
        box-shadow: 4px 2px 10px #6ba46a;
        outline: none;
        font-size: 18px;
        color: #6ba46a;
        font-weight: bold;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 10px;
          box-shadow: -5px -5px 10px white;
        }

        @include lg {
          position: absolute;
          transform: translate(-50%);
          left: 50%;
          bottom: 25px;
          width: 25%;
        }
      }

      .send_btn:focus {
        box-shadow: 2px 1px 8px #6ba46a;
        font-size: 17px;
      }

      .send_btn:focus:after {
        content: "";
        box-shadow: -2px -1px 8px white;
      }
    }

    //////////////////////
    // Select button
    //////////////////////

    select {
      position: relative;
      width: 150px;
      height: 42px;
      border: none;
      outline: none;
      padding: 0px 0px 0px 10px;
      margin: 10px;
      margin-top: 30px;
      background: #f3f3f4;
      border-radius: 15px;
      box-shadow: 4px 4px 6px #abc2d481;
      appearance: none;
      background-image: url("../../Assets/Login/Icondropdown.png"); /* Add custom arrow */
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: 45%;
    }
  }
}
