@import "../../media.scss";
@import "../../fontslib.scss";

.user_menu {
  position: absolute;
  min-height: 87vh;
  width: 100vw;
  top: 13vh;
  right: 0px;
  background: #e9e9e9;
  transform: translateX(100%);
  padding: 0px 0px 50px 0px;
  z-index: 10;

  @include sm {
    width: 50vw;
  }

  .user_menu_tile {
    position: relative;
    width: 80%;
    min-height: 90px;
    margin: auto;
    padding: 5px;
    border-radius: 13px;
    box-shadow: 5px 5px 10px #bdc3c5;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 13px;
      box-shadow: -5px -5px 10px white;
    }

    .user_menu_tile_header {
      position: relative;
      width: 100%;
      height: 50px;
      background-image: url("../../Assets/Login/Icondropdown.png"); /* Add custom arrow */
      background-repeat: no-repeat;
      background-position-x: 85%;
      background-position-y: 10%;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
        width: 250px;
        height: 2px;
        border: 1px solid grey;
        border-radius: 2px;
        background: grey;
      }

      p {
        @include mobile_p_primary_strong($pGeneralColor);
        text-align: center;
      }
    }

    .user_menu_tile_body {
      overflow: hidden;
      ul {
        width: 80%;
        min-height: 140px;
        margin: auto;
        list-style-type: none;
        padding-inline-start: 0px;

        li {
          @include mobile_p_secondary($pGeneralColor);
          margin: 10px;
          span {
            float: right;
          }
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
  }

  .scrollable {
    overflow: scroll;
    height: 82vh;
    padding: 20px 0px 20px 0px;
  }
}
